/* base */

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body *,
html,
body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* footer */

.footer {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;

  p {
    margin: 0;
  }

  svg {
    margin-right: 18px;

    g {
      transition: 200ms;
    }

    &:hover g {
      fill: #0065ff;
    }
  }
}
